/* Global */
/* Composition */
/* Blocks */
body {
	--clock-offset: 0vh;

	background: var( --white );
}

.container {
	min-height: 85vh;
	background: linear-gradient(
		{{ colors.teal[300] }} calc( var( --background-mid ) - 10% ),
		{{ colors.teal[300] }} calc( var( --background-mid )  ),
		{{ colors.teal[200] }} calc( var( --background-mid )  ),
		rgba( 255, 255, 255, 0 ) calc( var( --background-mid ) + 10% )
	);
}

.clock {
	position: relative;
	width: var( --clock-width );
	top: 0;
	margin-top: calc( (-1 * var( --clock-height ) / 2) + var( --clock-offset ) );
}

.clock-body, .clock-face {
	position: absolute;
	top: 0;
}
.clock-body:before, .clock-body:after,
.clock-face:before, .clock-face:after,
.number:before {
	content: "";
	position: absolute;
}

.clock-body {
	--corner-radius: 4vw;

	background: linear-gradient(
		{{ colors.red[700] }},
		{{ colors.red[800] }}
	);

	width: var( --clock-width );
	height: var( --clock-height );
	margin: 0 auto;

	box-shadow: 0 2vw 1vw -1.25vw {{ colors.orange[500] }} inset
		, 0 2vw 1vw 0 {{ colors.red[600] }} inset

		/* Soften edges */
		, -2vw 0 2vw -2vw {{ colors.red[600] }} inset
		,  2vw 0 2vw -1vw {{ colors.red[600] }} inset
		, 0 -3vw 1.5vw -2vw {{ colors.red[900] }} inset

		, 2vw 0 1vw 0 {{ colors.red[700] }} inset
		, -2vw 0 1vw 0 {{ colors.red[700] }} inset
		, 0 -3vw 1vw 0.5vw {{ colors.red[700] }} inset
		;

	border-radius: var( --clock-body-radius );
}

/* Knob */
.clock-body:before {
	--corner-radius: 1vw;
	--knob-height: calc( var( --clock-height ) / 3 );
	--knob-width: 2.25vw;

	z-index: 1;

	top: calc( var( --clock-height ) / 2 - var( --knob-height ) / 2 );
	bottom: calc( var( --clock-height ) * 1 / 2 - var( --knob-height ) / 2 );
	left: var( --clock-width );
	right: calc( -1 * var( --knob-width ) );

	border-top-left-radius: calc( var( --corner-radius ) / 2 );
	border-bottom-left-radius: calc( var( --corner-radius ) / 2 );
	border-bottom-right-radius: calc( var( --corner-radius ) / 1 );
	border-top-right-radius: calc( var( --corner-radius ) / 1 );

	background: {{ colors.gray[900] }}
		linear-gradient(
			black,
			{{ colors.gray[800] }} 20%,
			{{ colors.gray[800] }} 40%,
			black 80%
		);

	border-left: solid {{ colors.red[900] }} 0.25vw;
	border-right: solid {{ colors.gray[700] }} 0.25vw;
}
.clock-body:after {
	--base-height: 3vw;
	--corner-radius: 0.75vw;
	--inset: 10vw;

	z-index: -1;
	top: calc( var( --clock-height ) - 1vw ); bottom: calc( -1 * var( --base-height ) );
	left: var( --inset ); right: var( --inset );

	border-radius: 0 0 var( --corner-radius ) var( --corner-radius );

	background: linear-gradient(
		black 40%,
		{{ colors.gray[800] }}
	);
}

.clock-face {
	--corner-radius: 1.75vw;
	--inset: 4vw;

	top: var( --inset );
	left: var( --inset );

	width: calc( var( --clock-width ) - 2 * var( --inset ) );
	height: calc( var( --clock-height ) - 2 * var( --inset ) );
	margin: 0 auto;
	border-radius: var( --corner-radius );

	background: linear-gradient(
		{{ colors.gray[800] }},
		black
	);

	box-shadow: 0 0 var( --inset ) var( --inset ) black inset;
}
.clock-face:after {
	--glare-start: 40%;
	--corner-radius: 3vw;
	--glare-end: calc( var( --glare-start ) + 10% );
	--inset: 0vw;

	z-index: 3;
	top: -1vw; right: -1vw; bottom: -1vw; left: -1vw;

	margin: 0 auto;
	border-radius: var( --corner-radius );

	background: linear-gradient( -10deg
		, rgba(0,0,0,0) calc( var( --glare-start ) - 9% ), {{ colors.gray[400] }} var( --glare-start )
		, {{ colors.gray[400] }}  var( --glare-end ), rgba(0,0,0,0) var( --glare-end )
	);

	opacity: 0.1;
	box-shadow: 0 0 0 0.25vw rgba( 0, 0, 0, 1 );
}
.clock-face:before {
	z-index: 0;
	--corner-radius: 3vw;
	--inset: 0vw;

	top: -1vw; right: -1vw; bottom: -1vw; left: -1vw;

	margin: 0 auto;
	border-radius: var( --corner-radius );

	box-shadow: 0 0 0 1.25vw rgba( 0, 0, 0, 0.375 ) inset;
}

.time {
	--corner-radius: 1.0vw;
	--inset: 4vw;

	position: relative;
	top: 2.5vw;
	width: 54%;
	margin: 0 auto;
	padding: 1.5vw;
	padding-left: 2.5vw;
	border-radius: var( --corner-radius );

	background: black;

	box-shadow: 0 0.25vw 0.125vw 0 {{ colors.gray[900] }} inset
		, 0 -0.25vw 0.125vw 0 {{ colors.gray[700] }} inset
		;
	line-height: 1;
}
.number {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 16vw;
	margin: 1.0vw 0;
	padding-top: 1.0vw;
	padding-bottom: 1.0vw;
	background: linear-gradient(
		black,
		{{ colors.gray[900] }},
		black
	);
	color: var( --white );
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12vw;
	font-weight: 500;
	text-align: center;
	border-radius: 4px;
}
.number + .number {
	margin-left: 1.5vw;
}
.number:before {
	top: 0; right: 0; bottom: 0; left: 0;
	background: linear-gradient(
		rgba( 0, 0, 0, 0.7 ) 10%,
		rgba( 0, 0, 0, 0 ) 47%,
		rgba( 0, 0, 0, 0.3 ) 48%,
		black 48%, black 52%,
		rgba( 255, 255, 255, 0.3 ) 52%,
		rgba( 0, 0, 0, 0 ) 53%,
		rgba( 0, 0, 0, 0.4 ) 80%
	);
}

/* Exceptions */
