/* Global */
* {
	font-size: var( --s3 );
}

/* Composition */
/* Utilities */
/* Blocks */
body {
	--black: rgba( 0, 0, 0, 0.7 );

	padding: 6vw;
	background: var( --white );
	box-shadow: 0 0 10vw -5vw var( --yellow-300 ) inset
		, 0 0 20vw rbga( 0, 0, 0, 1 ) inset
	;
	color: var( --black );
	font-family: Times, 'Times News Roman', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: -0.5px;
	line-height: 1.3;
}

.container {
	background: rgba( 0, 0, 0, 0.1 );
	width: 100%;
	max-width: 45em;
	padding: var( --s4 );
	margin: 0 auto;
}

h1 {
	font-size: var( --s5 );
	letter-spacing: -3px;
	text-align: center;
}

/* Exceptions */

main p:not(.inline) {
	margin-top: var( --s2 );
}

/*


.container {
	position: absolute;
	max-width: 45em;
	margin: 0 auto;
	padding: 10vw;
}

a {
	color: inherit;
	font-weight: bold;
}
a[href^="/"] {
	text-decoration-color: var( --red-400 );
	font-weight: normal;
}

.time {
	padding: 0.2em 0.5em;
	background-color: var( --black );
	box-shadow: 0 0 0 4px var( --white ) inset;
	color: var( --white );
	font-family: var( --font-time );
	font-weight: 500;
	text-decoration: none;
	border-radius: 0.375rem;
	white-space: nowrap;
}
.number {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
}
.number:nth-child(1) {
	padding-right: 0.375em;
}
.number:nth-child(3) {
	padding-left: 0.375em;
	border-left: solid var( --white ) 2px;
} */
