<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="title" content="{{ site.title }}">
	<meta name="description" content="{{ site.metadataDescription }}">

	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.origin }}">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.metadataDescription }}">
	<meta property="og:image" content="{{ site.origin }}/card.png">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ site.origin }}">
	<meta property="twitter:title" content="{{ site.title }}">
	<meta property="twitter:description" content="{{ site.metadataDescription }}">
	<meta property="twitter:image" content="{{ site.origin }}/card.png">

	{%- set pageTitle -%}
		{%- if time %}{{ time.h }}:{{ time.m }}{%- endif -%}
		{%- if title %}{{ title }}{%- endif -%}
	{%- endset %}
	<title>{% if pageTitle %}{{ pageTitle }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<style>
		{%- set style %}
			{%- include "styles/global.css" -%}

			{% for stylesheet in stylesheets %}
				{% set file = "styles/" + stylesheet %}
				{%- include file -%}
			{% endfor %}

			body {
				--glare-start: {{ time.glare }}%;
			}
		{% endset -%}

		{{- style | cssmin | safe -}}
	</style>
</head>
<body>
	<header>
		<a class="[][][ about ][]" href="{{ site.about }}"><span>About this website</span></a>
	</header>

	<div class="[ center flex ][ container ][][]">
		<main class="[][ relative ][][]">

			{{- content | safe -}}

			{%- if noscript -%}
			<noscript>
				{% Clock ":", "(" %}
			</noscript>
			{%- endif -%}
		</main>
	</div>

	<script>
		{%- set script %}
			{%- if tick -%}
				let now = new Date();

				let G = now.getHours();
				let h = G > 12 ? G - 12 : G;
				if( h === 0 )
				{
					h = 12;
				}

				let m = now.getMinutes().toString().padStart( 2, "0" );

				window.location.replace( `/${h}:${m}/` );
			{%- endif %}

			{%- if update_time -%}
				let now = new Date();
				setTimeout( () => window.location.replace( "/" ), 1000 * (60 - now.getSeconds()) )
			{%- endif %}
		{% endset %}
		{{- script | babel | safe -}}
	</script>
</body>
</html>
